<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:action="@{/auth/register}" method="post" th:object="${userDto}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <label>
    <input type="text" th:field="*{email}" placeholder="Email" required>
  </label>
  <label>
    <input type="password" th:field="*{password}" placeholder="Password" required>
  </label>
  <button type="submit">Register</button>
</form>
<a th:href="@{/auth/forgot-password.html}">Забыли пароль?</a>

</body>
</html>