<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактировать адрес</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{header :: header}" />

<div class="container mt-5">
    <h2>Редактировать адрес</h2>

    <form th:action="@{/profile/address/edit}" method="post" th:object="${addressDto}">
        <input type="hidden" name="_method" value="patch"/>
        <div class="mb-3">
            <label for="region" class="form-label">Регион</label>
            <input type="text" th:field="*{region}" class="form-control" id="region" required>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">Город</label>
            <input type="text" th:field="*{city}" class="form-control" id="city" required>
        </div>

        <div class="mb-3">
            <label for="street" class="form-label">Улица</label>
            <input type="text" th:field="*{street}" class="form-control" id="street" required>
        </div>

        <div class="mb-3">
            <label for="house" class="form-label">Дом</label>
            <input type="text" th:field="*{house}" class="form-control" id="house" required>
        </div>

        <div class="mb-3">
            <label for="apartment" class="form-label">Квартира</label>
            <input type="text" th:field="*{apartment}" class="form-control" id="apartment">
        </div>

        <div class="mb-3">
            <label for="postalCode" class="form-label">Почтовый индекс</label>
            <input type="text" th:field="*{postalCode}" class="form-control" id="postalCode">
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a th:href="@{/profile}" class="btn btn-secondary">Назад</a>
    </form>
</div>
</body>
</html>
